.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  max-width: 1220px;
  border-radius: 5px;
}

.navbar-logo h2 {
  color: white;
  margin: 0;
}

.desktop-menu {
  display: flex;
  background-color: #AEF0BA;
  justify-content: center;
}

.menu-button {
  display: none;
  color: blacks;
}

.singInSingUp {
  display: block;
  color: white;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .desktop-menu {
    display: none; /* Hide the desktop menu on mobile */
  }

  .menu-button {
    display: block; /* Show the mobile menu button on mobile */
  }

  .singInSingUp {
    display: none; /* Hide the login button on mobile */
  }
}

/* Media Queries for large screens */
@media (min-width: 769px) {
  .menu-button {
    display: none; /* Hide the mobile menu button on larger screens */
  }

  .desktop-menu {
    display: flex; /* Show the desktop menu on larger screens */
  }

  .singInSingUp {
    display: block; /* Show the login button on larger screens */
  }
}
